<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="app">
            全选 <input type="checkbox" v-model="checkAll"> <br>
            <input type="checkbox" v-for="product in products" v-model="product.isSelected">
        </div>
        <script src="./node_modules/vue/dist/vue.js"></script>
        <script>
            let vm = new Vue({
                el:'#app',
                computed:{
                  checkAll:{
                      get(){
                          console.log("getting")
                        return this.products.every(item =>
                            item.isSelected
                        )
                      },
                      set(val){ //val  是给checkAll 赋予值传递过来的
                          console.log("setting");
                          this.products.forEach(item =>
                            item.isSelected = val
                      )
                      }
                  }
                },
                methods:{
                },
                data:{
                    checkAll1:false,
                    products:[{isSelected: true},{isSelected: true}]
                }
            })
        </script>
    </body>
</html>
