<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="app">
            <template v-if="">

            </template>
            <div v-if="false">我很帅</div>
            <div v-else>我非常帅</div> 
            
            <template>

                <label for="">注册</label>
                <input type="text">
            </template>
        </div>
        <script src="./node_modules/vue/dist/vue.js"></script>
        <script>
            let vm = new Vue({
                el:'#app',
                computed:{

                },
                filters:{

                },
                watch:{

                },
                methods:{

                },
                data:{

                }
            })
        </script>
    </body>
</html>
