<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>购物车</title>
        <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
        <style>
            caption{
                caption-side:top;
            }
        </style>
    </head>
    <body>
            <!--栅格化布局  默认12列，（有一些框架可能是24列-->
            <!--常见的样式，  基本样式  + 增强样式-->
            <!--如果频繁的切换dom使用v-show-->
            <div id="app">
                <!--v-if v-show  if 操作的是dom show 操作的是样式-->
            <div class="container">
                <!--每一行又会用友12列-->
                <div class="row">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <caption class="h5 text-warning text-center">购物车</caption>
                            <tr>
                                <!--click点击时，checkbox的状态还没有改变，所有拿到的总是相反的-->
                                <th>全选 <input type="checkbox" v-model="checkAll" @change="change"></th>
                                <td>商品</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>小计</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in products" >
                                <td><input type="checkbox" v-model="product.isSelected"></td>
                                <td><img :src="product.productCover"/>{{product.productName}}</td>
                                <!--lazy-->
                                <td><input type="number" v-model.number="product.productCount" min="1"></td>
                                <td>{{product.productPrice}}</td>
                                <!--过滤器  元数据不改变的情况下-->
                                <td>{{product.productCount * product.productPrice | toFixed}}</td>
                                <td><button class="btn btn-danger" @click="remove(product)">删除</button></td>
                            </tr>
                        </tbody>
                        <tr>
                            <!--{{sum}} 数据一变化就会重新调用此函数  算出-->
                            <td colspan="6"> 总价格：{{sum | toFixed}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="./node_modules/vue/dist/vue.js"></script>
        <script src="./node_modules/axios/dist/axios.js"></script>
        <script>
            let vm = new Vue({
                //
                el:'#app',
                //专门用来发送ajax的方法
                created(){
                    //在数据被初始化后会调用，this指向指的是vm实例，钩子函数
                    //Promise  解决回调问题的
                    this.getData()
                },
                computed:{ //放在computed中最后也会放在vm上,不能和methods 与data  重名
                    checkAll:{
                        get(){//get 和 set this
                            // console.log("2");
                            return this.products.every(item => item.isSelected)

                        },
                        set(val){
                             this.products.forEach(item=> item.isSelected = val)
                            // console.log("1");
                        }
                    },
                    sum() { //sum的结果会被缓存，如果依赖的数据没有变化不会重新执行
                        // get(){
                            // console.log("1");
                            return this.products.reduce((prev,next) => {
                                if(!next.isSelected){
                                    return prev
                                }
                                return prev + next.productPrice * next.productCount
                            },0)
                        // }
                    }
                    // sum:{ //sum的结果会被缓存，如果依赖的数据没有变化不会重新执行
                    //     get(){
                    //         console.log("1");
                    //         return this.products.reduce((prev,next) => {
                    //                 if(!next.isSelected){
                    //                     return prev
                    //                 }
                    //                return prev + next.productPrice * next.productCount
                    //             },0)
                    //     }
                    // }
                },
                methods:{
                    // sum(){ //求和函数
                    //     return this.products.reduce((prev,next) => {
                    //         if(!next.isSelected){
                    //             return prev
                    //         }
                    //        return prev + next.productPrice * next.productCount
                    //     },0)
                    // },
                    checkOne(){
                        this.checkAll = this.products.every(item => item.isSelected)
                    },
                    change(){
                        this.products.forEach(item => item.isSelected = this.checkAll)
                    },
                    getData(){
                        let that = this
                        axios.get('./carts.json').then(function (res) {
                            that.products = res.data
                            that.checkOne()
                        },function (err) {
                            //error
                            console.log(err)
                        })
                    },
                    remove(p){
                        //p代表当前点击的这一项
                        this.products = this.products.filter(item => item !== p)
                    }
                },
                data:{
                    products:[]
                },
                filters:{
                    toFixed(input,param1){
                        //这里的this指向windows
                        return '￥' + input.toFixed(param1)
                    }
                }
            })
        </script>
    </body>
</html>
