<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="app">
    <panel :type="article.type" @sayTitle="parent" v-for="(article,index) in articles" :key="index">
        <div slot="title"><span v-html="articles.title"></span></div>
        <div slot="content">{{article.content}}</div>
        <div v-if="article.author">{{article.author}}</div>
    </panel>
</div>

<template id="panel">
    <div class="panel" :class="[color]">

        <div class="panel-heading" ref="head"><slot name="title"></slot></div>
        <div class="panel-body"><slot name="content"></slot></div>
        <div class="panel-footer">
            <slot>匿名</slot>
            <button @click="say">点我说标题</button>
        </div>
    </div>
</template>

<script src="./node_modules/vue/dist/vue.js"></script>

<script>
    let panel = {
        template:"#panel",
        computed:{
            color(){return 'panel-' + this.type}
        },
        methods:{
            say(){
               this.$emit('saytitle',this.$refs.head.innerHTML)
            }
        },
        created(){

        },
        props:{
            type:{
                type: [String],
                default:'default'

            }
        }
    }
    let vm = new Vue({
        el: '#app',
        data: {
        articles:[
            {
                type: 'warning',
                title: '<h2>vue</h2>',
                content: '这是vue的文章',
                author: 'WaiHoYu'
            },
            {
                type: 'primary',
                title: '<h2>react</h2>',
                content: '这是react的文章',
                author: 'WaiHoYu'
            },
            {
                type: 'danger',
                title: '<h2>angular</h2>',
                content: '这是angular的文章',
                author: 'WaiHoYu'
            }
        ]
        },
        methods: {
            parent(tit){
                alert(tit)
            }
        },
        computed: {},
        components: {panel},
        watch: {},
        filters: {},
        // template: '<div></div>',
        beforeCreate() {},
        created() {},
        beforeMount() {},
        mounted() {},
        beforeUpdate() {},
        updated() {},
        beforeDestroy() {},
        destroyed() {}
    })
</script>
</body>
</html>
